:root {
    --color-background-one: #e38826;
    --color-background-two: #006970;
    --color-background-three: #004241;
    --color-letter-body: #ffffffbf;
    --color-headings: #f2f2f2;
    --color-background-button: #f2f2f2;
    --color-letter-button: #f2f2f2;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Lexend Deca', sans-serif;
}

html {
    font-size: 62.5%;
}

.section--first {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos de la primera tarjeta */

.section--first .section__article div {
    background-image: url("../images/icon-sedans.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    width: 4rem;
    height: 4rem;
}


.section--first .section__article {
    border-top-left-radius: 1.6rem;
    border-bottom-left-radius: 1.6rem;
    display: flex;
    flex-direction: column;
    padding: 2rem 3rem;
    width: 300px;
    height: 500px;
    background-color: var(--color-background-one);
}
.section--first .section__article img {
    margin-top: 40px;
}
.section--first .section__article h2 {
    font-family: 'Big Shoulders Display', cursive;
    color: var(--color-headings);
    font-size: 2.3rem;
    padding-top: 35px;
    text-transform: uppercase;
}

.section--first .section__article p {
    line-height: 1.5rem;
    margin-top:40px;
    font-family: 'Lexend Deca', sans-serif; 
    color: var(--color-letter-body);
    font-size: 0.9rem;
}

.section--first .section__article a {
    width: 10rem;
    font-size: 16px;
    margin-top: 70px;
    border-radius: 50px;
    text-transform: capitalize;
    padding: 15px 20px 15px 20px ;
    color: var(--color-background-one);
    border:1px ;
    background-color: var(--color-background-button);
    text-decoration: none;
    text-align: center;
    align-self: center;
}

.section--first .section__article a:hover{
    background-color: var(--background-button);
    color: var(--color-letter-button);
    border: 2px solid var(--color-letter-button);
    cursor: pointer;
}

/* Fin de los estilos de la primera tarjeta */



