:root {
    --color-background-one: #e38826;
    --color-background-two: #006970;
    --color-background-three: #004241;
    --color-letter-body: #ffffffbf;
    --color-headings: #f2f2f2;
    --color-background-button: #f2f2f2;
    --color-letter-button: #f2f2f2;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Lexend Deca', sans-serif;
}

html {
    font-size: 62.5%;
}

.main-container{
    display: flex;
    padding-top: 50px;
}

/* Estilos de la primera tarjeta */

.container1{
    border-radius: 16px;
    display: flex;
    padding-left: 30px;
    margin: 0 auto;
    display: block;
    width: 300px;
    height: 500px;
    background-color: var(--color-background-one);

}
.icon1{
    margin-top: 40px;
}

.sedans{
    font-family: 'Big Shoulders Display', cursive;
    color: var(--color-headings);
    font-size: 15px;
    padding-top: 35px;
}

.choose{
    opacity: 60%;
    line-height: 30px;
    margin-top:40px;
    padding-right: 50px;
    font-family: 'Lexend Deca', sans-serif; 
    color: var(--color-letter-body);
    font-size: 15px;
}

.button-sedan{
    font-size: 16px;
    margin-top: 70px;
    border-radius: 50px;
    padding: 15px 20px 15px 20px ;
    color: var(--color-background-one);
    border:1px ;
}

.button-sedan:hover{
    background-color: var(--background-button);
    color: var(--color-letter-button);
    border: 2px solid var(--color-letter-button);
    cursor: pointer;
}

/* Fin de los estilos de la primera tarjeta */


/* 



